---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Setiembre 2024 - Presente",
    title: "Human Resources Intern",
    company: "Grupo Trianon",
    description:
      "Responsable de procesos de reclutamiento y selección para posiciones operativas, mandos medios y jefaturas. Establecí un modelo de gobierno de datos en el área de adquisición de talento, permitiendo el análisis de KPIs. Además, gestioné el proceso de contratación, onboarding e hice seguimiento al desempeño del talento durante su periodo de prueba.",
    link: "https://www.grupotrianon.com/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
