---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
    {
    date: "Noviembre 2025 - Actualidad",
    title: "Asistente de Talento y Cultura",
    company: "Corporación Overall",
    description:
      "Lidero un plan de Gobierno de Datos orientado a la construcción de data marts para las subáreas de Gestión de Desarrollo Humano, con el objetivo de optimizar el acceso a la información. Además, gestiono la reportería de Talento y Cultura de manera integral, midiendo indicadores de clima laboral, evaluación de desempeño y rotación, desde la recolección de datos mediante encuestas hasta su procesamiento en Power BI y la elaboración de informes ejecutivos para clientes internos.",
    link: "https://www.overall.pe/",
  },
    {
    date: "Agosto 2025 - Noviembre 2025",
    title: "Practicante de HR Analytics",
    company: "Grupo Lucky",
    description:
      "Gestioné la actualización de bases de candidatos, aseguré la calidad y disponibilidad de la información para su análisis. Además, monitoreé un programa de referidos mediante la elaboración de reportes en Power BI, incorporando un funnel de conversión de candidatos a contratados. También realicé el seguimiento mensual de indicadores clave del equipo de atracción de talento, como tiempo de cobertura, productividad por reclutador y tasa de contratación, así como del dashboard de rotación segmentado según las necesidades del negocio.",
    link: "https://www.grupolucky.com/",
  },
  {
    date: "Setiembre 2024 - Agosto 2025",
    title: "Practicante de Recursos Humanos",
    company: "Grupo Trianon",
    description:
      "Responsable de procesos de reclutamiento y selección para posiciones operativas, mandos medios y jefaturas. Establecí un modelo de gobierno de datos en el área de adquisición de talento, permitiendo el análisis de KPIs. Además, gestioné el proceso de contratación, onboarding e hice seguimiento al desempeño del talento durante su periodo de prueba.",
    link: "https://www.grupotrianon.com/",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
